/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  /* width: 100%; */
}
span{
  color: #FF42A5;
}

/* header styles */
header {
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
header section {
  display: flex;
  /* max-width: 80%; */
  justify-content: space-between;
}
.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
  padding-left: 100px;
 
}
.header-container h1{
  font-weight: 700;
}
.header-youtube {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding-left: 50px;
}
.fa-youtube{
  color: red;
}
.fa-tiktok{
  color: #000;
  border-color: #08fff9;
}
.nav-box {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 100px;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.header-youtube {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* banner styles */

.first-banner {
  display: flex;
  align-items: center;
  /* text-align: center; */
  padding-left: 50px;
  height: 50%;

}
.btn-second{
  background-color: #4EC5F7;
  color: white;
  padding: 10px;
  border: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.btn-primary{
  background-color: #FF42A5 ;
  color: white;
  padding: 10px;
  border: 40px;
  border-radius: 20px;
  margin-right: 20px;


}
.banner-text {
  width: 50%;
}
.banner-img {
  height: 50;

  padding-right: 200px;
  padding-left: 100px;
}
.online-game {
  text-align: center;
  margin-top: 100px;
}
.funny {
  color: #8758f1;
}

/* cart styles */
.cart-containeer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.cart {
  width: 250px;
  margin-top: 40px;
  border-radius: 20px;
}
.cart img {
  width: 250px;
  height: 300px;
}

.cart p {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

/* img {
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
} */

.watch-now-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  background-color: white;
  border: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}
.watch-text {
  position: absolute;
  top: 60%;
  left: 35%;
  font-size: 20px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

.image-container:hover .watch-now-icon,
.watch-text {
  opacity: 1;
}

.play-container {
  display: flex;
  padding-top: 100px;
}
.play-text {
  text-align: center;
  margin-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
}

.play-img {
  position: relative;
  /* border: 1px solid firebrick; */
  height: 100%;
  padding-right: 100px;
}
.upper-img {
  /* position: absolute; */
  height: 500px;
}
.down-img {
  position: absolute;
  right: 70%;
  top: 60%;
  height: 300px;
}

.last-part {
}

.button-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 80px;
  margin-right: 80px;
}
.list-container {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 10px;
}
.list-container:hover {
  border: 1px solid hotpink;
  border-radius: 50px;
  color: hotpink;
}
.last-button {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  gap: 60px;
  margin-top: 40px;
}

.footer-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  height: 300px;
  background-color: black;
  color: white;
  padding-top: 7%;
}
.game {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-list,
.game,
.footer-small {
  /* border: 2px solid chartreuse; */
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer-icon, i {
  font-size: larger;
  
}




/* responsive styles */
@media screen and(max-width:576) {
  
}
